<% content_for :left_panel do %>
  
<% end %>

<% content_for :right_panel do %>
  &nbsp;
<% end %>


<div class="row">
  <div class="span6">
    <h3>Setup your preferences</h3>
    <hr />
    <%= render "people/form" %>
  </div>
</div>

<% @nav_id = "nav-preferences" %>
