<form class="pull-left" action="/search" class="span6" >
  <input name="q" type="text" class="span4" value="<%= @q %>" placeholder="Search" />
  <input type="submit" class="span2" placeholder="Search" value="Search" />
</form>
