<form class="pull-left" action="/share" class="span6" style="text-align:center;">
  <input name="text" type="text" class="span4" value="" placeholder="Share Something..." />
  <input type="submit" class="span2" placeholder="Search" value="Share" />
</form>
