<% @nav_id = "nav-helping" %>

<% content_for :left_panel do %>
  
<% end %>

<% content_for :right_panel do %>
  &nbsp;
<% end %>


<div class="row">
  <div class="span6">
    <h3>You are wingman for</h3>
    <hr />
    <% current_person.inverse_wingmans.each do |p| %>
      <%= render "/people/person_small", :person => p %>
    <% end %>
  </div>
</div>
