<div class="row" style="height:400px;">
  <div class="span6" style="background-color:#EfEfEf;text-align:center;line-height:400px;;">
    Some Screenshot
  </div>
  <div class="span6" style="text-align:center;line-height:400px;">
    <a class="btn btn-large btn-primary" href="/auth/facebook">Sign In with Facebook</a>
  </div>
</div>
