<% @nav_id = "nav-my-shares" %>

<% content_for :left_panel do %>
  
<% end %>

<% content_for :right_panel do %>
  &nbsp;
<% end %>


<div class="row">
  <div class="span6">
    <h3>Sharing History</h3>
    <hr />

  </div>
</div>
