<html>
<head>
  <%= javascript_include_tag "bootstrap.css" %>
  <%= stylesheet_link_tag "bootstrap.css" %>
  <style>
    
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="span8 offset2" style="line-height:300px;">
        Show form to share the link <%= @url %>
      </div>
    </div>
  </div>
</body>
<html>
