<div class="row">
  <div class="span8 offset2">
    
    <h3>Setup your preferences</h3>
    <br />
    <p>These are the things where you would like to help others.</p>
    <ul>
      <li>Startup News</li>
      <li>Startup Funding</li>
    </ul>
  </div>
</div>
