<% @nav_id = "nav-wingmen" %>

<% content_for :left_panel do %>
  
<% end %>

<% content_for :right_panel do %>
  &nbsp;
<% end %>


<div class="row">
  <div class="span6">
    <h3>Your Wingmen</h3>
    <hr />
    <% current_person.wingmans.each do |p| %>
      <h1><%= link_to p.name, p %></h1>
    <% end %>
  </div>
</div>
