<% @nav_id = "nav-items" %>

<% content_for :left_panel do %>
  &nbsp;
<% end %>

<% content_for :right_panel do %>
  &nbsp;
<% end %>

<div class="row">
  <div class="span6">
    <h3>Your Shared Items</h3>
    <hr />
    <% unless current_person.items.empty? %>
      <ul class="items">
      <% current_person.items.order("created_at DESC").each do |i| %>
        <%= render i %>
      <% end %>
      </ul>
    <% else %>
      You have not shared anything. <a href="/">Start sharing</a>
    <% end %>
  </div>
</div>


<!--
<%= link_to 'New Item', new_item_path %>
-->
