<% @nav_id = "nav-item" %>

<% content_for :left_panel do %>
  &nbsp;
<% end %>

<% content_for :right_panel do %>
  &nbsp;
<% end %>


<div class="row">
  <div class="span6">
    <h3>Item</h3>
    <hr />
    <ul class="items">
      <%= render @item %>
    </ul>
  </div>
</div>
