/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require formtastic-bootstrap
 *= require my_formtastic_changes
 *= require_tree .
*/



.tags_list i {
  margin:2px 0;
}

.tag-icon {
  max-width:20px;
  max-height:20px;
}

fieldset.actions {
  margin:0;padding-left:0 !important;
}

fieldset.actions li {
  list-style:none;
}

fieldset.actions li {
}

.profile-img {
  padding-right:10px;
  padding-bottom:10px;
  min-height:100px;
}

.clear {
  clear:both;
}

table.person {
  width:100%;
}

table.person td {
  padding-top:20px;
  vertical-align:top;
}

table.person td.attribute_name {
  text-align:right;
  padding-right:10px;
  font-weight:bold;
  width:120px;
  margin-right:20px;
}

table.person td.attribute_value {
  padding-top:20px;
}
