/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require formtastic-bootstrap
 *= require my_formtastic_changes
 *= require_tree .
*/



.tags_list i {
  margin:2px 0;
}

.tag-icon {
  max-width:20px;
  max-height:20px;
}

fieldset.actions {
  margin:0;padding-left:0 !important;
}

fieldset.actions li {
  list-style:none;
}

fieldset.actions li {
}

.profile-img {
  padding-right:10px;
  padding-bottom:10px;
  min-height:100px;
}

.clear {
  clear:both;
}

.wingmanship_message {
  background-color:#DDD;padding:10px;
  margin-bottom:20px;
}

table.person {
  width:100%;
}

table.person td {
  padding-top:20px;
  vertical-align:top;
}

table.person td.attribute_name {
  text-align:right;
  padding-right:10px;
  font-weight:bold;
  width:120px;
  margin-right:20px;
}

table.person td.attribute_value {
  padding-top:20px;
}


#right-panel ul.wingman-requests {
  list-style:none;
  margin-left:0;
}

#right-panel li.wingman-request {
  display:block;
  padding:5px;
  text-align:right;
  background-color:#FAFAFA;
}

#right-panel li.wingman-request .profile_img {
  padding:5px 10px;
  width:50px;height:50px;
}

#right-panel li.wingman-request .name {
  line-height:100%;
}

#right-panel li.wingman-request .short_desc {
  font-size:11px;
  line-height:100%;
}

#right-panel li.wingman-request .action-link {
  
}

#right-panel li.wingman-request .message {
  margin-top:4px;
  font-size:12px;
  padding:5px 5px;
  display:block;
  text-align:left;
  font-style:italic;
  font-weight:small;
}

.wingman_small {
  width:100%;
  height:50px;
  background-color:#FAFAFA;
  margin:5px 0;
}

.wingman_small img {
  width:50px;height:50px;
}


.bookmarklet-install {
  width:100%;
  padding:10px 0;
}

.bookmarklet-install .close {
  margin:0px 0px 10px 5px;
}

.bookmarklet-install .btn {
  margin:10px 10px;
}

#new_item label[for=item_text]{
  display:none;
}

#new_item div.input{
  margin-bottom:0;
}

#new_item #item_listeners_input div.input{
  margin-bottom:10px;
}

#new_item input[type=text] {
  width:98%;
  margin:0;
}

#new_item .choices-group {
  width:100%;
}

.items {
  list-style:none;
  margin:10px 0;
}

.item-small {
  width:100%;
  display:block;
  padding:10px 5px;
}

.item-small .text {
  display:block;
  width:90%;
}
.item-small .text a {
  display:block;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}

.image-mini {
  width:25px;height:25px;
}

ul.shared-with {
  margin:5px 0 !important;padding:0 !important;
  list-style:none !important;
}
